<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BootstrapStudioFile</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="assets/css/Responsive-Form-1.css">
    <link rel="stylesheet" href="assets/css/Responsive-Form.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="index.html">Group 6</a><button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#graphanalysis">Graph Analysis</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#performancemetrics">Performance metrics</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-center text-white d-flex" style="background-image:url('assets/img/header.jpg');">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase"><strong>Predicting Student Performance</strong></h1>
                    <hr>
                </div>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5"><br>Student’s academic performance affected by many factors, like personal, socio-economic and other environmental variable. Knowledge about these factors and their effect on student performance can help in <strong>managing their outcomes</strong>.
                    Here we'll help you predict your own performance.<br><br></p><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#graphanalysis">Find Out More</a></div>
        </div>
    </header>
    <section id="graphanalysis" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col offset-lg-8 mx-auto text-center">
                    <h2 class="text-white section-heading">Graph Analysis</h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4">RED - Actual Data</p>
                    <p class="text-faded mb-4">Blue - Predicted Data</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><img src="assets/img/Linear.jpg">
                        <h3 class="mb-3" color="white">Linear Regression</h3>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><img src="assets/img/Support.jpg">
                        <h3 class="mb-3">Random Forest</h3>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><img src="assets/img/Random.jpg">
                        <h3 class="mb-3">Decision Tree</h3>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><img src="assets/img/Decision.jpg">
                        <h3 class="mb-3">Made with Love</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col offset-lg-8 mx-auto text-center">
                    <hr class="light my-4"><a class="btn btn-light btn-xl js-scroll-trigger" role="button" href="#performancemetrics">See more!</a></div>
            </div>
        </div>
    </section>
   <section id="performancemetrics" class="p-0">

    <div class="container">
  <div class="row">
    <a href="#" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/1.jpg" class="img-fluid rounded" style="margin: 5%;">
    </a>
    <a href="#" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/2.jpg" class="img-fluid rounded" style="margin: 5%;">
    </a>
    <a href="#" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/3.jpg" class="img-fluid rounded" style="margin: 5%;">
    </a>
  </div>
  <div class="row">
    <a href="#" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="assets/img/4.jpg" class="img-fluid rounded" style="margin: 5%;">
    </a>
    <a href="#" data-toggle="lightbox" data-gallery="gallery" class="col-md-4" >
      <img src="assets/img/5.jpg" class="img-fluid rounded" style="margin: 5%;">
    </a>
    <a href="#" data-toggle="lightbox" data-gallery="gallery" class="col-md-4" >
      <img src="assets/img/6.jpg" class="img-fluid rounded" style="margin: 5%;">
    </a>
  </div>
</div>
    
      <!--   <div class="container-fluid p-0">
            <div class="row no-gutters popup-gallery">
                <div class="col-sm-6 col-lg-4"><a href="assets/img/fullsize/1.jpg" class="portfolio-box"><img class="img-fluid" src="assets/img/1.jpg"><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"></div><div class="project-name"><span>R-Squared error and Adj R-Squared error</span></div></div></div></a></div>
                <div
                    class="col-sm-6 col-lg-4"><a href="assets/img/fullsize/2.jpg" class="portfolio-box"><img class="img-fluid" src="assets/img/2.jpg"><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"></div><div class="project-name"><span>Accuracy</span></div></div></div></a></div>
             </div>
              <div class="row no-gutters popup-gallery">       
            <div
                class="col-sm-6 col-lg-4"><a href="assets/img/fullsize/3.jpg" class="portfolio-box"><img class="img-fluid" src="assets/img/3.jpg"><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"></div><div class="project-name"><span>Mean Absolute Error&nbsp;</span></div></div></div></a></div>
        <div
            class="col-sm-6 col-lg-4"><a href="assets/img/fullsize/4.jpg" class="portfolio-box"><img class="img-fluid" src="assets/img/4.jpg"><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"></div><div class="project-name"><span>Root Mean Squared Error</span></div></div></div></a></div>
        </div>

         <div class="row no-gutters popup-gallery">
            <div
                class="col-sm-6 col-lg-4"><a href="assets/img/fullsize/5.jpg" class="portfolio-box"><img class="img-fluid" src="assets/img/5.jpg"><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"></div><div class="project-name"><span>Mean Squared Error</span></div></div></div></a></div>
                <div
                    class="col-sm-6 col-lg-4"><a href="assets/img/fullsize/6.jpg" class="portfolio-box"><img class="img-fluid" src="assets/img/6.jpg"><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"></div><div class="project-name"><span>Variable Importance Graph</span></div></div></div></a></div>
               </div>     
                    </div>
                
         </div>  -->          
    </section> 
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="my-4">
                    <p class="mb-5">Want to know more about how this works? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center"><i class="fa fa-group fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-once="true"></i>
                    <p>Mrs. Priya R.L. <br>Priyanka Bhatia <br>Rishabh Bhatt <br>Saahil Hiranandani <br>Bhavesh Motiramani</p>
                </div>
                <div class="col-lg-4 mr-auto text-center"><i class="fa fa-envelope-o fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true"></i>
                    <p><a href="mailto:priya.rl@ves.ac.in">priya.rl@ves.ac.in <br></a><a href="mailto:2015priyanka.bhatia@ves.ac.in">2015priyanka.bhatia@ves.ac.in <br></a><a href="mailto:2015rishabh.bhatt@ves.ac.in">&nbsp;2015rishabh.bhatt@ves.ac.in <br></a>
                        <a
                            href="mailto:2015saahil.hiranandani@ves.ac.in">2015saahil.hiranandani@ves.ac.in <br></a><a href="mailto:2015bhavesh.motiramani@ves.ac.in">2015bhavesh.motiramani@ves.ac.in</a></p>
                </div>
            </div>
        
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/creative.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
</body>

</html>