<!doctype html>
<html>
<head>
<title> Flask Tenplate </title>
</head>

<body>
<h1>  Result is {{ a1 }}  </h1>
<h1>  Result is {{ a2 }}  </h1>
<h1>  Result is {{ a3 }}  </h1>
<h1>  Result is {{ a4 }}  </h1>
<h1>  Result is {{ a5 }}  </h1>
<h1>  Result is {{ a6 }}  </h1>
<h1>  Result is {{ a7 }}  </h1>
<h1>  Result is {{ a8 }}  </h1>
<h1>  Result is {{ a9 }}  </h1>
<h1>  Result is {{ a10 }}  </h1>
<h1>  Result is {{ a11 }}  </h1>
<h1>  Result is {{ a12 }}  </h1>
<h1>  Result is {{ a13 }}  </h1>
<h1>  Result is {{ a14 }}  </h1>
<h1>  Result is {{ a15 }}  </h1>
<h1>  Result is {{ a16 }}  </h1>
<h1>  Result is {{ a17 }}  </h1>
<h1>  Result is {{ a18 }}  </h1>
<h1>  Result is {{ a19 }}  </h1>
<h1>  Result is {{ a20 }}  </h1>
<h1>  Result is {{ a21 }}  </h1>
<h1>  Result is {{ a22 }}  </h1>
<h1>  Result is {{ y_pred }}  </h1>
</body>




</html>